# TAN Nimbus is a licensed retail font (TAN Type Foundry) — do not commit it
# to a public repository. See README.md for how to include it in deploys.
public/fonts/TAN-NIMBUS.otf

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment files
.env
.env.local

# Dependency directories
node_modules/

# Build output
dist/
build/
